@use "../variables" as *;
@use "../base";

@mixin pattern-background {
  background: url("../../public/svg/bgtile.svg") repeat left top;
  background-color: $black-800;
}

@mixin neon-section($color) {
  h2 {
    @include base.neon($color);
    font-size: 4.5rem;
    text-align: center;
  }
  strong,
  p::before,
  .cta {
    color: $color;
  }

  .cta {
    font-size: 1.25rem;
    float: right;
    &::before {
      content: "›";
      margin-right: 0.25em;
    }
  }
}

body:has(#home) {
  @include pattern-background;
}

@supports not selector(:has(a, b)) {
  main#home {
    @include pattern-background;
  }
}

:root {
  --rainbow-light-palette: #{$blue-200}, #{$turquoise-200}, #{$yellow-200},
    #{$pink-200}, #{$purple-200};
  --rainbow-dark-palette: #{$blue-400}, #{$turquoise-400}, #{$yellow-400},
    #{$pink-400}, #{$purple-400};
}

$overlay-width: 80px;

header {
  font-size: 1.2rem;

  position: sticky;
  left: 0;
  width: 100%;
  top: -100%;
  z-index: 99;

  transition: top 0.17s ease;

  &[data-show="true"] {
    top: 0;
    background-color: $black-800;
  }

  #logo {
    a {
      display: inline-flex;
    }
    img {
      max-height: 36px;
      width: auto;
    }
  }

  #sections {
    gap: 2rem;
    @for $i from 1 through length($palette-light) {
      $color: nth($palette-light, $i);
      a:nth-child(#{$i}) {
        &::before {
          content: "›";
          color: $color;
          margin-right: 0.25em;
        }
        &:hover,
        &:focus {
          @include base.neon($color);
          &::before {
            text-decoration: none;
          }
        }
      }
    }
    padding: 1rem 0;
  }
}

main#home {
  .rainbow-strip {
    position: absolute;
    top: 0;
    height: 100%;
    width: 6px;
    background: linear-gradient(transparent, var(--rainbow-light-palette));
    background-color: transparent;
    // TODO: technically, the strip and the glow use
    // DIFFERENT coloursets. This is a placeholder.

    &::after {
      content: "";
      position: absolute;
      height: 100%;
      width: $overlay-width;
      background: inherit;
      filter: brightness(0.5) saturate(2.5);
    }

    &:nth-of-type(1) {
      left: calc(-3% - $overlay-width);

      &::after {
        mask-image: linear-gradient(
          90deg,
          #ffffff 0%,
          rgba(255, 255, 255, 0.47) 24.48%,
          rgba(255, 255, 255, 0.28) 46.35%,
          rgba(255, 255, 255, 0.03) 74.48%,
          rgba(255, 255, 255, 0) 100%
        );
      }
    }
    &:nth-of-type(2) {
      right: calc(-3% - $overlay-width);
      &::after {
        right: 0;
        mask-image: linear-gradient(
          90deg,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 0.03) 24.48%,
          rgba(255, 255, 255, 0.28) 46.35%,
          rgba(255, 255, 255, 0.47) 74.48%,
          #ffffff 100%
        );
      }
    }
  }

  position: relative;
  h1,
  h2 {
    font-family: $title-fontstack;
    font-weight: normal;
  }

  h1 {
    font-weight: normal;
    text-align: center;
    margin-bottom: unset;
  }

  p a {
    text-decoration: underline;
  }

  #hero {
    margin-top: 4rem;
    $size: 6rem;
    max-width: 50vw;

    h1 {
      @include base.neon($white);
      font-size: $size;
      font-size: clamp(50%, $size, 10vw);
      line-height: 1;
    }
    h2 {
      font-size: 2rem;
      font-size: clamp(50%, 1.75rem, 5vw);
      font-family: $body-fontstack;
      text-align: center;
      color: inherit;
    }
    .socials {
      margin: 2rem auto;
    }
  }

  // #hero .socials a:nth-child(#{$i - 1}) {
  //   &:hover,
  //   &:focus {
  //     svg {
  //       fill: $color;
  //       @include base.neon-drop($color);
  //     }
  //   }
  // }
  > section + section {
    margin-top: 7rem;
  }

  #about {
    @include neon-section($blue-200);

    > .columns {
      align-items: center;
    }

    .img-container {
      position: relative;
      min-height: 316px;
      img {
        object-fit: contain;
        width: auto !important;
        border-radius: 10px;
        margin: 0 auto;
        position: relative;
        // TODO proper border
        $shadow-offset: 6px;
        box-shadow: $shadow-offset $shadow-offset 0 0 $black-800,
          $shadow-offset $shadow-offset 0 3px $blue-400;
        // outline: 4px solid $blue-400;
        // outline-offset: 4px;
      }
    }
    p {
      position: relative;
      &::before {
        content: "//";
        position: absolute;
        left: -2em;
      }
    }
    @media screen and (min-width: 970px) {
      h2 {
        position: absolute;
        z-index: 1;
        transform: rotate(-90deg) translate(-30%, -25%);
      }
    }
  }

  #projects {
    @include neon-section($turquoise-200);
    .portfolio-menu {
      .skill-icons {
        color: $turquoise-200;
      }
      button.tab-item.active {
        color: $turquoise-200;
        border-color: $turquoise-200;
      }
    }
  }
  .portfolio-menu {
    nav.tab {
      border: none;
      justify-content: space-evenly;
      margin-bottom: 2rem;

      button.tab-item {
        background-color: unset;
        color: unset;
        border: unset;
        flex: 0 0 auto;
        padding: 0.25rem 0.5rem;
        font-size: 1.1rem;

        &:hover {
          cursor: pointer;
        }
        &.active {
          border-top: 4px solid;
          border-bottom: 4px solid;
          font-weight: 800;
        }
      }
    }
    .menu-item {
      padding: 0 10%;

      display: none;

      &.active {
        display: block;
      }

      h4 {
        font-size: 1.1rem;
      }

      .description {
        margin: 1rem auto;

        p {
          position: relative;
          margin: auto 2em;
          &::before {
            content: "//";
            position: absolute;
            left: -2em;
          }
        }
      }

      .skill-icons {
        font-size: 36px;
        display: flex;
        gap: 0.5rem;
        margin: 0.5rem 0;
      }
    }
    .mockups {
      gap: 1rem;
      justify-content: center;
      align-items: flex-start;
      > .column {
        height: 100%;
        position: relative;
      }
      .mockup {
        // @include base.neon-drop($turquoise-200);
        box-shadow: 0 0 0.5rem $turquoise-200;
        position: relative;
        margin: 0 auto;
        height: 11rem;
        border: 2px solid $turquoise-200;
        border-radius: 20px;
        svg {
          display: block;
          margin: 0 auto;
        }
        img {
          position: relative;
          margin: 0 auto;
          object-fit: cover;
        }
        // TODO: SO MANY MAGIC NUMBERS
        &.laptop {
          $bottom-size: 1em;
          aspect-ratio: 425/265;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
          height: calc(11rem - #{$bottom-size});
          img {
            padding: 14px 10px;
          }
          &::after {
            content: '';
            position: absolute;
            width: 110%;
            height: $bottom-size;
            border: 2px solid $turquoise-200;
            top: 100%;
            margin-left: -5%;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
          }
        }
        &.mobile {
          aspect-ratio: 151/269;
          img {
            padding: 14px 10px;
          }
        }
        &.tablet {
          aspect-ratio: 202/269; img {
            padding: 14px 10px;
          }
        }

        // magic numbers
        // &.laptop {
        //   img {
        //     width: 60% !important;
        //     top: 15% !important;
        //   }
        // }
        // &.mobile {
        //   img {
        //     width: 20% !important;
        //     top: 12.5% !important;
        //   }
        // }
        // &.tablet {
        //   img {
        //     width: 30% !important;
        //     top: 15% !important;
        //   }
        // }
      }
    }
  }

  #design {
    @include neon-section($yellow-200);
    .portfolio-menu {
      .skill-icons {
        color: $yellow-200;
      }
      button.tab-item.active {
        color: $yellow-200;
        border-color: $yellow-200;
      }
    }
  }

  #skills {
    @include neon-section($pink-200);
  }

  #contact {
    @include neon-section($purple-200);

    #contact-form {
      padding: 10%;
      padding-top: 0;
    }

    color: $purple-200;

    .form-group {
      > * {
        width: 100%;
        background-color: $black-800;
        border: 2px solid $purple-200;
        border-radius: 10px;
        padding: 0.5rem;
        color: $grey-200;
        &::placeholder {
          color: $purple-200;
        }
      }
    }
  }
}
