@use '../variables' as *;

.portfolio-menu {
  nav.tab {
    border: none;
    justify-content: space-evenly;
    margin-bottom: 2rem;

    button.tab-item {
      background-color: unset;
      color: unset;
      border: unset;
      flex: 0 0 auto;
      padding: 0.25rem 0.5rem;
      font-size: 1.1rem;

      &:hover {
        cursor: pointer;
      }
      &.active {
        border-top: 4px solid;
        border-bottom: 4px solid;
        font-weight: 800;
      }
    }
  }
  .menu-item {
    padding: 0 10%;

    display: none;

    &.active {
      display: inherit;
    }

    h4 {
      font-size: 1.1rem;
    }

    .description {
      padding: 1rem 0;

      p {
        position: relative;
        margin: auto 2em;
        &:first-of-type:before {
          content: "//";
          position: absolute;
          left: -2em;
        }
      }
    }

    .see-case-study {
      color: $turquoise-200;
      text-decoration: underline;
    }

    .skill-icons {
      font-size: 36px;
      display: flex;
      gap: 0.5rem;
    }

    // customs
    &#menu-item-avion {
        .mockup.laptop img {
            object-position: 50% 0;
        }
    }

    &#menu-item-nuance {
        .mockup.laptop img {
            object-position: 0 0;
        }
    }
  }
  .mockups {
    gap: 2rem;
    justify-content: center;
    align-items: center;
    min-height: 11rem;
    margin: 1rem auto;
    $bottom-size: 1em;
    > .column {
        height: 100%;
        position: relative;
        
      &.laptop-container {
        margin-top: -$bottom-size;
      }
    }
    .mockup {
      // @include base.neon-drop($turquoise-200);
      box-shadow: 0 0 0.5rem $turquoise-200;
      position: relative;
      margin: 0 auto;
      height: 11rem;
      border: 2px solid $turquoise-200;
      border-radius: 20px;
      svg {
        display: block;
        margin: 0 auto;
      }
      img {
        position: relative;
        margin: 0 auto;
        object-fit: cover;
      }
      // TODO: SO MANY MAGIC NUMBERS
      &.laptop {
        aspect-ratio: 425/265;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        height: calc(11rem - #{$bottom-size});
        img {
          padding: 14px 10px;
        }
        &::after {
          content: "";
          position: absolute;
          width: 110%;
          height: $bottom-size;
          border: 2px solid $turquoise-200;
          top: 100%;
          margin-left: -5%;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
          background-color: $black-800;
        }
      }
      &.mobile {
        aspect-ratio: 151/269;
        img {
          padding: 14px 10px;
        }
      }
      &.tablet {
        aspect-ratio: 202/269;
        img {
          padding: 14px 10px;
        }
      }
      &.watch {
        aspect-ratio: 1/1;
        border-radius: 100%;
        background-color: $black-800;
        position: relative;
        
        max-width: 7.5rem;
        height: auto;
        margin: 0 auto;
        &::before {
            content: '';
            position: absolute;
            background-color: black;
            width: 50%;
            left: 25%;
            height: 11rem;
            top: -25%;
            border: 2px solid $turquoise-200;
            margin: 0 auto;

            @media screen and (max-width: 970px) {
                & {
                    transform: rotate();
                }
            }
        }
        img {
            border-radius: 100%;
            border: 2px solid $turquoise-200
        }
      }
    }
  }
}
