@use "./variables" as base;

// pages
@forward "pages/home";
@forward "pages/portfolio";

body {
  font-family: base.$body-fontstack;
  background-color: base.$black-800;
  color: base.$white;
}

main {
  height: 100%;
  &.container {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
